@import url('https://fonts.googleapis.com/css?family=Bad+Script');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Bad Script', cursive;
    background: black;
}

h1{
    margin: 0;
    padding: 0;
    color: #111;
    font-size: 14em;
}